@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.eot');
	src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto.woff') format('woff'), url('../fonts/Roboto/Roboto.ttf') format('truetype'), url('../fonts/Roboto/Roboto.svg#Roboto') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto Light.eot');
	src: url('../fonts/Roboto Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto Light.woff') format('woff'), url('../fonts/Roboto/Roboto Light.ttf') format('truetype'), url('../fonts/Roboto/Roboto Light.svg#Roboto Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto Medium.eot');
	src: url('../fonts/Roboto Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto Medium.woff') format('woff'), url('../fonts/Roboto/Roboto Medium.ttf') format('truetype'), url('../fonts/Roboto/Roboto Medium.svg#Roboto Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto Bold.eot');
	src: url('../fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto Bold.woff') format('woff'), url('../fonts/Roboto/Roboto Bold.ttf') format('truetype'), url('../fonts/Roboto/Roboto Bold.svg#Roboto Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}